@import "roboto.css";

body {
    background-image: -webkit-linear-gradient(top, #8bada3 0%, #3b6670 100%);
}

.align-center {
    text-align: center;
}

h1 {
    font-weight: 200;
    font-size: 48pt;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}

img.kiba {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 220px;
}

.chart {
    width: 180px;
    height: 180px;
    margin: 20px auto;
    position: relative;
}

.chart-label {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 10pt;
    text-align: center;
    padding: 2px;
    color: white;
}